#map{
  width: 100vw;
  height: 100%;
  font-family: $font-family;
}
::-moz-selection,/* Code for Firefox */
::selection { 
  background-color: $color-pri;
}
//loading====================================
.loader {
  font-family: $font-family;
  @include positionMid(fixed);
  width: 120px;
  height: 120px;
  z-index: 9999;
  .loader__spinner {
    @include circleEl(60px);
    border: 7px solid rgba(255, 255, 255, 0.3);
    border-top: 7px solid $color-pri;
    animation: spin 0.7s ease-out infinite;
    margin: 20px 30px;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  .loader__txt {
    width: 100%;
    padding-left: 0.3em;
    text-align: center;
    font-weight: 600;
    color: $color-content;
    @include font-size(18);
  }
}
//maskcolor note=============================
.colorNote{
  font-family: $font-family;
  font-weight: 600;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  cursor: pointer;
  @include font-size(14);
  &>h2{
    border-radius: 5px 5px 0 0;
    background-color: $color-pri;
    color: $color-white;
  }
  .colorNote__title{
    padding: .8em 1em;
    text-align: center;
    line-height: 18px;
    h2{
      display: inline-block;
    }
    img{
      display: inline-block;
      vertical-align: top;
      margin-right: 4px;
      height: 18px;
      width: auto;
    }
  }
  .colorNote__arrow{
    position: absolute;
    bottom: -32px;
    left: 0;
    right: 0;
    margin: auto;
    padding-right: 1px;
    // transform: translateX(50%);
    width: 2em;
    height: 1em;
    line-height: .8em;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    @include font-size(24);
    text-align: center;
    background-color: $color-white;
    color: $color-pri;
  }
  .colorNote__danger{
    color: orange;
  }
  .colorNote__nice{
    color: $color-pri;
  }
  .colorNote__none{
    color: $color-unselect;
  }
}
//sidebar Btn================================
.showSideBtn{
  position: absolute;
  z-index: 999;
  top: 0;
  i{
    @include font-size(22);
    line-height: 50px;
  }
}
.showSideBtn--out{
  left: -60px;
  border-radius: 4px;
  width: 50px!important;
  height: 50px!important;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.showSideBtn--in{
  display: none;
  i{
    color: $color-white;
  }
  @include pad{
    display: block;
    right: 10px;
    margin-top: 5px;
    padding: 0 1.2em;
  }
  
}
.sideBtn--ani{
  animation: sideBtn--ani 1s ease-in-out 3;
}
@keyframes sideBtn--ani {
  0%{ top:0;}
  20%{ top:-6px;}
  40%{ top:-3px;}
  60%{ top:-6px;}
}
.leaflet-control-zoom{
  margin-left: 70px!important;
}
.leaflet-control-zoom-out{
  border-radius: 0 0 4px 4px;
}
//sidebar====================================
.sidebar{
  position: relative;
  display: flex;
  padding:0!important;
  flex-direction: column;
  color: $color-content;
  font-family: $font-family;
  overflow: hidden!important;
  @include pad{
    // overflow: scroll!important;
  }
  .sidebar__title{
    font-weight: 900;
    @include font-size(22);
    letter-spacing: .1em;
    padding: 12px 24px;
    color: $color-pri;
    i{
      @include font-size(18);
    }
    .searchNote{
      display: none;
      color: $color-pri;
      @include font-size(14);
    }
  }
  .search{
    box-shadow: 0 0 5px lighten($color-content, 50%);
  }
}
.leaflet-sidebar>.leaflet-control{
  padding:8px 0;
}
//sidebar-標語區==================
.sidebar__note{
  width: 100%;
  padding: 16px 24px;
  // color: $color-white;
  // color: #F8F4E3;
  // color: #FFA69E; //可以做附註
  color: #FFddcc; 
  background: linear-gradient(45deg,$color-pri,$color-pri-s);
  mark{
    font-weight: 900;
    // color: #FFE19C;
    // color: #F5F749;
    // color: #FFFD98;
    color: $color-white;
    background-color: transparent;
    @include font-size(24);
    padding: 0 .2em;
  }
  h2{
    @include font-size(16);
  }
  .sidebar__note__wrap{
    margin: .5em 0;
    display: flex;
    // justify-content: space-between;
  }
  p{
    display: inline-block;
    margin-right: 1.5em;
    @include font-size(12);
    i{
      letter-spacing: .4em;
      color: $color-white;
    }
    mark{
      color: $color-white;
      @include font-size(14);
    }
  }
  h4{
    @include font-size(12);
    i{
      letter-spacing: .2em;
      color: $color-white;
    }
  }
  .sidebar__note__time{
    h3{
      margin-top: .3em;
      @include font-size(14);
      color: #FFA69E;
    }
    .sidebar__ID{
      margin: .5em 0;
    }
  }
}
//sidebar-搜尋區==============================
//sidebar-搜尋區-選單=============
.selectwrap{
  overflow: hidden;
  padding: 0 24px;
  .select__row{//包裹 select zone
    border: 1px solid $color-unselect;
    border-radius: 3em;
    margin-bottom: 18px;
    &:hover{
      box-shadow: 0 0 1px $color-content;
    }
  }
  legend{
    margin-left: 22px;
    padding: 0 .8em;
    letter-spacing: .1em;
    @include font-size(12)
  }
}
.selectFrom{ // select zone
  position: relative;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $color-second transparent transparent transparent;
  }
  select{
    //移除原始箭頭
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    //
    width: 100%;
    min-width: 100px;
    padding: .3em 1.5em .5em;
    letter-spacing: .1em;
    text-align: center;
    text-align-last:center;
    @include font-size(18);
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    ::-ms-expand{
      display: none; 
    }
    option:checked {
      display: none;
    }
  }
}
//sidebar-搜尋區-口罩=============
.select__maskType{
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .select__maskType__btn{
    cursor: pointer;
    width: 30%;
    float: left;
  }
  h2{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: .5em 0;
    color: darken($color-unselect, 40%);
    border-radius: 2em;
    border: 1px solid $color-unselect;
    &:hover{
      box-shadow: 0 0 1px $color-content;
    }
  }
  input{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  input:checked ~ h2{
    color: $color-white;
    background: linear-gradient(45deg,$color-pri-s,$color-pri);
    border: none;
    transition: .3s;
  }
}
//sidebar-清單區==================
.resultList{
  overflow: auto;
  padding: 16px 24px 0;
  // background-color: darken($color-white, 2%);
  @include pad{
    overflow: scroll;
  }
  .resultList__defaultList{
    margin: .5em 0 .8em;
    letter-spacing: .1em;
    text-align: center;
    @include font-size(18);
    color: lighten($color-content, 30%);
  }
}
.resultList__wrap{
  position: relative;
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 4px $color-unselect;
  cursor: pointer;
  &:hover{
    background-color: lighten($color-pri, 33%);
  }
  .resultList__wrap__tilte{
    display: flex;
    justify-content: space-between;
    h2{
      display: inline-block;
      vertical-align: middle;
      line-height: 1.7em;
      padding: .1em .5em;
      @include font-size(22);
      font-weight: 900;
      cursor: pointer;
      margin-right: auto;
    }
    // .watchOnMap{
    //   text-align: center;
    //   margin-right: 8px;
    //   padding: 0 1em;
    //   border-radius: 1.5em;
    //   border: none;
    //   cursor: pointer;
    //   background-color: $color-pri;
    //   color: $color-white;
    //   height: 36px;
    // }
    .address{
      position: relative;
      bottom: 2px;
      color: $color-pri;
      @include font-size(28);
    }
  }
  h3{
    @include font-size(14);
    margin: .3em 0;
    i{
      @include font-size(14);
      padding-right: 3px;
    }
    .fa-map-marker-alt{
      margin-right: 1px;
    }
    .fa-phone-alt{
      @include font-size(12);
    }
  }
  .list__maskwrap {
    display: flex;
    margin-top: 8px;
    li{
      min-width: 50px;
      padding: .3em 1em;
      margin-right: 1em;
      text-align: center;
      border-radius: 1em;
    }
  }
}
//map-marker's popup==========================
.l-popupWrap{
  line-height: 2em;
  .l-popup__name{
    @include font-size(18);
    font-weight: 900;
  }
  .l-popup__inputWrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  input{
    width: 49%;
    padding: .3em .5em;
    border-radius: .4em;
    @include font-size(18);
  }
  
  .l-popup__detail{
    margin: 1em 0;
    i{
      margin-right: 1em;
    }
    .fa-map-marker-alt{
      padding: .1em;
    }
  }
}
.leaflet-container a.leaflet-popup-close-button{
  top: 5px;
  right: 5px;
}